@{
    ViewData["Title"] = "Página inicial";
}

@if (TempData["MensagemError"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemError"]
    </div>
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Sistema de controle de Contatos</p>
</div>
